.swiper#slider
  .swiper-wrapper
    .swiper-slide
      .swiper-slide__img
        img(src="./imgs/food-menu/slide-1.png")
      .swiper-slide__title BREAKFAST 2
      .swiper-slide__desc Chicken fricassee with mushrooms and bulgur
      ul.swiper-slide__text-list
        each item in ["Protein - 15 g", "Fat - 7 g", "Carbohydrates - 24 g", "Energy - 285 kсal", "Тotal weight: 345 g"]
          li.swiper-slide__text-item= item
    .swiper-slide
      .swiper-slide__img
        img(src="./imgs/food-menu/slide-2.png")
      .swiper-slide__title BREAKFAST 2
      .swiper-slide__desc Chicken fricassee with mushrooms and bulgur
      ul.swiper-slide__text-list
        each item in ["Protein - 15 g", "Fat - 7 g", "Carbohydrates - 24 g", "Energy - 285 kсal", "Тotal weight: 345 g"]
          li.swiper-slide__text-item= item
    .swiper-slide
      .swiper-slide__img
        img(src="./imgs/food-menu/slide-3.png")
      .swiper-slide__title BREAKFAST 2
      .swiper-slide__desc Chicken fricassee with mushrooms and bulgur
      ul.swiper-slide__text-list
        each item in ["Protein - 15 g", "Fat - 7 g", "Carbohydrates - 24 g", "Energy - 285 kсal", "Тotal weight: 345 g"]
          li.swiper-slide__text-item= item
    .swiper-slide
      .swiper-slide__img
        img(src="./imgs/food-menu/slide-1.png")
      .swiper-slide__title BREAKFAST 2
      .swiper-slide__desc Chicken fricassee with mushrooms and bulgur
      ul.swiper-slide__text-list
        each item in ["Protein - 15 g", "Fat - 7 g", "Carbohydrates - 24 g", "Energy - 285 kсal", "Тotal weight: 345 g"]
          li.swiper-slide__text-item= item
    .swiper-slide
      .swiper-slide__img
        img(src="./imgs/food-menu/slide-2.png")
      .swiper-slide__title BREAKFAST 2
      .swiper-slide__desc Chicken fricassee with mushrooms and bulgur
      ul.swiper-slide__text-list
        each item in ["Protein - 15 g", "Fat - 7 g", "Carbohydrates - 24 g", "Energy - 285 kсal", "Тotal weight: 345 g"]
          li.swiper-slide__text-item= item
    .swiper-slide
      .swiper-slide__img
        img(src="./imgs/food-menu/slide-3.png")
      .swiper-slide__title BREAKFAST 2
      .swiper-slide__desc Chicken fricassee with mushrooms and bulgur
      ul.swiper-slide__text-list
        each item in ["Protein - 15 g", "Fat - 7 g", "Carbohydrates - 24 g", "Energy - 285 kсal", "Тotal weight: 345 g"]
          li.swiper-slide__text-item= item
    .swiper-slide
      .swiper-slide__img
        img(src="./imgs/food-menu/slide-1.png")
      .swiper-slide__title BREAKFAST 2
      .swiper-slide__desc Chicken fricassee with mushrooms and bulgur
      ul.swiper-slide__text-list
        each item in ["Protein - 15 g", "Fat - 7 g", "Carbohydrates - 24 g", "Energy - 285 kсal", "Тotal weight: 345 g"]
          li.swiper-slide__text-item= item
    .swiper-slide
      .swiper-slide__img
        img(src="./imgs/food-menu/slide-1.png")
      .swiper-slide__title BREAKFAST 2
      .swiper-slide__desc Chicken fricassee with mushrooms and bulgur
      ul.swiper-slide__text-list
        each item in ["Protein - 15 g", "Fat - 7 g", "Carbohydrates - 24 g", "Energy - 285 kсal", "Тotal weight: 345 g"]
          li.swiper-slide__text-item= item
  .swiper-button-prev
  .swiper-button-next
